body {
    font-family: Arial, sans-serif;
    margin: 20px;
}
#book-details {
    margin-top: 20px;
}
#book-details img {
    max-width: 120px;
    margin-top: 10px;
}
#favorites-list {
    margin-top: 20px;
}
.book {
    margin-bottom: 10px;
}
.book h3{
    display: flex;
    align-items: center;
}
.drop{
    cursor: pointer;
}
#des{
    height: 0;
    overflow: hidden;
    visibility: hidden;
    transition: .4s ease-in-out;
    display: flex;
    justify-content: center;
}
#des.ativeDrop{
    height: 100%;
    border-radius: 10px;
    display: flex;
    padding: 20px;
    overflow: visible;
    visibility: visible;
    background-color: silver;
    justify-content: center;
} 
  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #5F5F71;
    padding: 10px 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    position: relative;
  }
  
  .logo img {
    width: 50px; /* Ajuste o tamanho da imagem conforme necessário */
    border-radius: 50px;
  }
  
  .nav {
    display: flex;
    gap: 20px;
  }
  
  .nav a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    text-transform: uppercase;
  }
  
  .search {
    display: flex;
    align-items: center;
    gap: 10px;
  }
  
  .login-btn {
    background-color: #3F3F4F;
    color: white;
    border: none;
    padding: 5px 15px;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .login-btn:hover {
    background-color: #565671;
  }
  
  .search input {
    padding: 5px;
    border: none;
    border-radius: 5px;
  }
  
  .search-btn {
    background-color: #3F3F4F;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .search-btn:hover {
    background-color: #565671;
  }